<div class="player-list">
  <mat-accordion *ngFor="let player of players | async">
    <mat-grid-list cols="10" rowHeight="50px" (click)="toggleExpansionPanel(player.id)">
      <mat-grid-tile colspan=1 rowspan=2>
        <div class="left">
            <div *ngIf="player.image; then avatarBlock; else elseAvatarBlock"></div>
            <ng-template #avatarBlock>
              <img *ngIf="player.image" [src]="player.image" />
            </ng-template>
            <ng-template #elseAvatarBlock>
              <mat-icon class="icon">account_circle</mat-icon>
            </ng-template>
      </div>
      </mat-grid-tile>
      <mat-grid-tile colspan=7>
        <div class="title left">{{player.displayName}}</div>
      </mat-grid-tile>
      <mat-grid-tile colspan=2><span>Won: <span class="bold">{{player.numberOfWins}}</span></span></mat-grid-tile>
      <mat-grid-tile colspan=7>
        <div class="description left">{{player.teams}}</div>
      </mat-grid-tile>
      <mat-grid-tile colspan=2><span>Lost: <span class="bold">{{player.numberOfLoses}}</span></span></mat-grid-tile>
    </mat-grid-list>
    <div [id]="'expansion-body-' + player.id" class="hide expansion-body">
      <div>
        <button mat-button [routerLink]="['/players/' + player.id + '/teams']">
          <mat-icon>group</mat-icon>&nbsp;TEAMS
        </button>
        <button mat-button [routerLink]="['/players/' + player.id + '/matches']">
          <mat-icon>history</mat-icon>&nbsp;MATCHES
        </button>
        <button mat-button [routerLink]="['/players/' + player.id]">
          <mat-icon>edit</mat-icon>&nbsp;EDIT
        </button>
        <button mat-button (click)="openDeleteDialog(player.id)">
          <mat-icon>delete</mat-icon>&nbsp;DELETE
        </button>
      </div>
    </div>
  </mat-accordion>
</div>