<mat-chip-list>
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-chip color="primary" selected>Team Alpha</mat-chip>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <mat-chip *ngIf="match && match.alphaAttacker" (click)="freePosition('alpha', 'attacker')">
          <img class="avatar" *ngIf="match && match.alphaAttacker && match.alphaAttacker.image" [src]="match.alphaAttacker.image" />
          <mat-icon *ngIf="match && match.alphaAttacker && !match.alphaAttacker.image" class="icon">account_circle</mat-icon>
          <span>{{match.alphaAttacker.name}}</span>
        </mat-chip>
        <mat-chip *ngIf="!match || !match.alphaAttacker" (click)="takePosition('alpha', 'attacker')">
          <mat-icon class="icon">account_circle</mat-icon> <span>Take position</span>
        </mat-chip>
      </div>
      <div class="col-2" align="center">
        <button mat-mini-fab (click)="switchPositions('alpha')">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
      <div class="col-5">
        <mat-chip *ngIf="match && match.alphaGoalkeeper" (click)="freePosition('alpha', 'goalkeeper')">
          <img class="avatar" *ngIf="match && match.alphaGoalkeeper && match.alphaGoalkeeper.image" [src]="match.alphaGoalkeeper.image" />
          <mat-icon *ngIf="match && match.alphaGoalkeeper && !match.alphaGoalkeeper.image" class="icon">account_circle</mat-icon>
          <span>{{match.alphaGoalkeeper.name}}</span>
        </mat-chip>
        <mat-chip *ngIf="!match || !match.alphaGoalkeeper" (click)="takePosition('alpha', 'goalkeeper')">
          <mat-icon class="icon">account_circle</mat-icon><span>Take position</span>
        </mat-chip>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-2">
        <button mat-button class="score blue" (click)="scoreGoal('alpha')">
          <span>{{alphaScore}}</span>
        </button>
      </div>
      <div class="col-6" align="center">
        <div>
          <img style="margin: 5px" src="assets/img/foosball_table.png">
        </div>
      </div>
      <div class="col-2">
        <button mat-button class="score red" (click)="scoreGoal('beta')">
          <span>{{betaScore}}</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <mat-chip class="table-single-player-position" *ngIf="match && match.betaAttacker" (click)="freePosition('beta', 'Attacker')">
          <img class="avatar" *ngIf="match && match.betaAttacker && match.betaAttacker.image" [src]="match.betaAttacker.image" />
          <mat-icon *ngIf="match && match.betaAttacker && !match.betaAttacker.image" class="icon">account_circle</mat-icon>
          <span>{{match.betaAttacker.name}}</span>
        </mat-chip>
        <mat-chip class="table-single-player-position" *ngIf="!match || !match.betaAttacker" (click)="takePosition('beta', 'Attacker')">
          <mat-icon class="icon">account_circle</mat-icon><span>Take position</span>
        </mat-chip>
      </div>
      <div class="col-2" align="center">
        <button mat-mini-fab (click)="switchPositions('beta')">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
      <div class="col-5">
        <mat-chip class="table-single-player-position" *ngIf="match && match.betaGoalkeeper" (click)="freePosition('beta', 'Goalkeeper')">
          <img class="avatar" *ngIf="match && match.betaGoalkeeper && match.betaGoalkeeper.image" [src]="match.betaGoalkeeper.image" />
          <mat-icon *ngIf="match && match.betaGoalkeeper && !match.betaGoalkeeper.image" class="icon">account_circle</mat-icon>
          <span>{{match.betaGoalkeeper.name}}</span>
        </mat-chip>
        <mat-chip class="table-single-player-position" *ngIf="!match || !match.betaGoalkeeper" (click)="takePosition('beta', 'Goalkeeper')">
          <mat-icon class="icon">account_circle</mat-icon><span>Take position</span>
        </mat-chip>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-chip color="accent" selected>Team Beta</mat-chip>
      </div>
    </div>
  </div>
</mat-chip-list>
