<div class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="toolbar-icon">home</mat-icon>
      <div class="toolbar-spacer"></div>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>tablet</mat-icon>
          <span>Stoły</span>
        </button>
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Konto</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
