<div class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button [routerLink]="['']">
        <mat-icon>home</mat-icon>
      </button>
      <span>{{title}}</span>
      <div class="toolbar-spacer"></div>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['/tables']">
          <mat-icon>tablet</mat-icon>
          <span>Tables</span>
        </button>
        <button mat-menu-item [routerLink]="['/matches']">
          <mat-icon>list</mat-icon>
          <span>Matches History</span>
        </button>
        <button mat-menu-item [routerLink]="['/players']">
          <mat-icon>contact_mail</mat-icon>
          <span>Players</span>
        </button>
        <!--<button mat-menu-item [routerLink]="['/conquests']">-->
          <!--<mat-icon>account_box</mat-icon>-->
          <!--<span>Conquests</span>-->
        <!--</button>-->
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="getAccountLink()">
          <mat-icon>flag</mat-icon>
          <span>Account</span>
        </button>
        <button *ngIf="isAnonymous()" mat-menu-item [routerLink]="['/login']">
          <mat-icon>exit_to_app</mat-icon>
          <span>Login</span>
        </button>
        <button *ngIf="isAnonymous()" mat-menu-item [routerLink]="['/register']">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button *ngIf="isAuthenticated()" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar [mode]="progressBarMode" value="100"></mat-progress-bar>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
