<div class="player-teams">
  <button mat-raised-button color="secondary" (click)="goBack()">BACK</button>
  <mat-accordion *ngFor="let playerTeam of playerTeams | async">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <div class="left">{{playerTeam.teamName}}</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="left">
          <p>{{playerTeam.createdTime}} - {{playerTeam.closedTime}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan=2>
        <div class="description left">As {{playerTeam.playerPosition}}, with {{playerTeam.teammatePosition}}:
          {{playerTeam.teammateName}}</div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-accordion>
</div>