<div class="player-matches">
  <button (click)="goBack()">go back</button>
  <mat-accordion *ngFor="let playerMatch of playerMatches | async">
    <mat-grid-list cols="6" rowHeight="50px">
      <mat-grid-tile>
        {{playerMatch.attackerAlphaImage}}
        Attacker
      </mat-grid-tile>
      <mat-grid-tile>
        {{playerMatch.goalkeeperAlphaImage}}
        Goalkeeper
      </mat-grid-tile>
      <mat-grid-tile colspan=2 rowspan=2>
        {{playerMatch.startTime}}
        {{playerMatch.teamAlphaScore}} : {{playerMatch.teamBetaScore}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{playerMatch.attackerBetaImage}}
        Attacker
      </mat-grid-tile>
      <mat-grid-tile>
        {{playerMatch.attackerBetaImage}}
        Goalkeeper
      </mat-grid-tile>
      <mat-grid-tile colspan=2>Team: {{playerMatch.teamAlphaName}}</mat-grid-tile>
      <mat-grid-tile colspan=2>Team: {{playerMatch.teamBetaName}}</mat-grid-tile>
    </mat-grid-list>
  </mat-accordion>
</div>
