<form class="container" [formGroup]="loginForm" (submit)="login()">
  <mat-form-field>
    <input matInput placeholder="Login" required formControlName="login">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" required formControlName="password">
  </mat-form-field>
  <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
