<form class="container" [formGroup]="tableLinksForm" >
  <mat-form-field>
    <input matInput required placeholder="Code" formControlName="code">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team alpha attacker URL" formControlName="teamAlphaAttacker">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team alpha goalkeeper URL" formControlName="teamAlphaGoalkeeper">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team beta attacker URL" formControlName="teamAlphaAttacker">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team beta goalkeeper URL" formControlName="teamAlphaAttacker">
  </mat-form-field>
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile>
      <button mat-raised-button [routerLink]="['/tables']">Back</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
