<div class="table-list">
  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let table of tables | async">
      <mat-expansion-panel-header>
        <mat-panel-title>{{table.code}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button mat-button [routerLink]="['/matches/' + table.code]">
          <mat-icon>stars</mat-icon>&nbsp;PLAY
        </button>
        <button mat-button [routerLink]="['/tables/' + table.code]">
          <mat-icon>edit</mat-icon>&nbsp;EDIT
        </button>
        <button mat-button (click)="openDeleteDialog(table.code)">
          <mat-icon>delete</mat-icon>&nbsp;DELETE
        </button>
        <button mat-button>
          <mat-icon>link</mat-icon>&nbsp;LINKS
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-fab color="primary" [routerLink]="['/tables/#new']">
    <mat-icon>add</mat-icon>
  </button>
</div>
