<form class="container" [formGroup]="tableForm" (submit)="submitForm()">
  <mat-form-field>
    <input matInput required placeholder="Code" formControlName="code">
    <mat-error *ngIf="tableForm.get('code').hasError('required')">Code is required</mat-error>
    <mat-error *ngIf="tableForm.get('code').hasError('taken')">Code already used</mat-error>
    <mat-error *ngIf="tableForm.get('code').hasError('pattern')">Code must contains only characters: 0...9, a...f or A...F (without spaces)</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="color" required placeholder="Alpha team color" formControlName="teamAlphaColor">
    <mat-error *ngIf="tableForm.get('teamAlphaColor').hasError('required')">Alpha team color is required</mat-error>
    <mat-error *ngIf="tableForm.get('teamAlphaColor').hasError('pattern')">Alpha team color must contains exactly 6 characters: 0...9, a...f or A...F</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="color" required placeholder="Beta team color" formControlName="teamBetaColor">
    <mat-error *ngIf="tableForm.get('teamBetaColor').hasError('required')">Beta team color is required</mat-error>
    <mat-error *ngIf="tableForm.get('teamBetaColor').hasError('pattern')">Beta  team color must contains exactly 6 characters: 0...9, a...f or A...F</mat-error>
  </mat-form-field>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
      <button mat-raised-button [routerLink]="['/tables']">Cancel</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button *ngIf="!isAddNew()" mat-raised-button color="primary" [disabled]="!tableForm.valid">Update</button>
      <button *ngIf="isAddNew()" mat-raised-button color="primary" [disabled]="!tableForm.valid">Insert</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
