/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 auto;
}

/* Toolbar i ikony */
.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

/* Kształty */
.round {
  border-radius: 50%;
}

/* Dodatkowe kolory */
.blue {
  color: #ffffff;
  background-color: #3f51b5;
}

.red {
  color: #ffffff;
  background-color: #ff4081;
}
