<form class="container" [formGroup]="registerForm" (submit)="register()">
  <mat-form-field>
    <input matInput placeholder="Login" formControlName="login">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName">
  </mat-form-field>
  <button mat-raised-button>Register</button>
</form>
