<form class="container" [formGroup]="registerForm" (submit)="register()">
  <mat-form-field>
    <input matInput required placeholder="Login" formControlName="login">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" required placeholder="Password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" required placeholder="E-mail" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Last name" formControlName="lastName">
  </mat-form-field>
  <button mat-raised-button [disabled]="!registerForm.valid">Register</button>
</form>
